body{
font-family: Arial, Helvetica, sans-serif;
background-color: #e8eceb
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#e09e50;
    box-shadow: 1px 1px 4px #8d8d8d;
    height: 20%;
    justify-content: space-between;
    padding: 0 10%;
    }
    .navigation_header{
    display: flex;
    gap: 3em;
    }
    .navigation_header a{
        text-decoration: none;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    .site_name{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-weight: bold;
    }
    .card_login{
        width: 33%;
        height: 45%;
        display: flex;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 80px;
        border-radius: 0px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        flex-direction: column;
    }
    .textfield{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 10px 0px;
    }
    .textfield > input{
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 15px;       
        font-size: 12pt;
        background: #D9D9D9;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        outline: none;
        box-sizing: border-box;
    }
    .btn_login{
    background-color: #E09E50;
    border:none;
    padding:15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .btn_login:hover{
        background-color: #f5c58b ;
    }
    .card_login > h1{
    right: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    display: flex;
    color: #905000;
    }