@import url('http://fonts.cdnfonts.com/css/fira-sans');

/* Cores constantes */
:root {
	--default-bg-light: #E8ECEB;
	--default-bg-dark: #E09E50;
	--default-text-light: #FFFFFF;
	--default-text-dark: #905000;
	--default-inputfield-bg: #FAFAFA;
}

/* Predefinições gerais */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans';
	font-size: 16pt;
	background-color: var(--default-bg-light);
	color: var(--default-text-dark);
	display: flex;
	flex-flow: column;
}

* {
	font-family: Fira Sans;
}

a {
	text-decoration: none;
}

.link-light {
	color: white;
}

.link-light:hover {
	text-shadow: 1px 1px 2px gold;
}

.link-dark {
	color: var(--default-text-dark);
}

.link-dark:hover {
	text-shadow: 1px 1px 2px lightgray;
}

.main-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: scroll;
}

.card-light {
	background-color: white;
	border-radius: 5px; 
	box-shadow: -2px -2px 2px lightgray, 2px 2px 2px lightgray;
}

.btn-light {
	background-color: white;
	border-radius: 5px;
	border: none;
	transition: 0.3s;
	color: var(--default-bg-dark);
}

.card-header {
	width: 100%;
	display: flex;
	justify-content: center;
}

.card-content {
	width: 80%;
}

.btn-light:hover {
	background-color: var(--default-bg-dark);
	cursor: pointer;
	border: white;
	color: white;
}

.btn-dark {
	background-color: var(--default-bg-dark);
	border-radius: 5px;
	border: none;
	transition: 0.3s;
	font-size: 100%;
	color: white;
}

.btn-dark:hover {
	background-color: white;
	cursor: pointer;
	border: 1px solid var(--default-bg-dark);
	color: var(--default-bg-dark);
}

.text-light {
	color: white;
}

.text-dark {
	color: var(--default-text-dark);
}

.input-field {
	box-sizing: border-box;
	padding: 0 2vmin;
	border: 1px solid gold;
	transition: 0.3s;
	outline: none !important;
	border-radius: 5px;
	font-size: 80%;
	color: var(--default-text-dark);
	background-color: var(--default-inputfield-bg);
	box-shadow: inset 1px 1px 2px lightgray;
}

.input-field:hover {
	border: 1px solid gold;
}

.input-field:focus{
	border: 1px solid darkorange;
}

/* Cabeçalho */
#main-header {
	display: flex;
	height: 10vmin;
	align-items: center;
	background-color: var(--default-bg-dark);
	color: var(--default-text-light);
	box-shadow: 1px 1px 1px lightgray;
}

#main-header .logo-area {
	width: 20%;
}

#main-header .logo-area .logo {
	font-size: 3vmax;
	margin-left: 1vmax;
}

#main-header .search-area {
	width: 60%;
	display: flex;
	justify-content: center;
}

#main-header .search-area .search-field {
	background-color: white;
	display: flex;
	align-items: center;
	height: 5vmin;
	border-radius: 5px;
}

#main-header .search-area .search-field input[type=text] {
	border: none;
	width: 30vmax;
	padding: 0 1vmin;
	border-radius: 0;
	height: 100%;
}

#main-header .search-area .search-field .btn-search,
#main-header .search-area .search-field .btn-settings {
	border: none;
	height: inherit;
	width: 3vmax;
}

#main-header .search-area .search-field .btn-search {
	border-radius: 0 5px 5px 0;
}

#main-header .search-area .search-field .btn-settings {
	border-radius: 5px 0 0 5px;
}

#main-header .search-area .search-field .btn-search:hover,
#main-header .search-area .search-field .btn-settings:hover {
	cursor: pointer;
}

#main-header .menu-area {
	width: 20%;
	display: flex;
	justify-content: right;
}

#main-header .menu-area a {
	color: var(--default-text-light);
	margin: 0 1vmax;
}

/* Página de login */
#login-page .login-card {
	width: 35%;
	height: 70%;
	display: flex;
	flex-flow: column;
	align-items: center;
}

#login-page .login-card div {
	width: 80%;
	height: 100%;
}

#login-page .login-card .card-header {
	display: flex;
	justify-content: center;
	height: 20%; }

#login-page .login-card .card-content {
	height: 80%;
}

#login-page .login-card .card-content form {
	width: 100%;
	height: 80%;
}

#login-page .login-card .card-content form *:not(input[type=submit]) {
	width: 100%;
	height: 15%;
	margin: 1vmin 0;
}

#login-page .login-card .card-content form input[type=submit] {
	width: 100%;
	height: 20%;
	margin: 2vmin 0;
}

/* Página de cadastro */
#register-page .register-card {
	width: 35%;
	display: flex;
	flex-flow: column;
	align-items: center;
	clear: both;
}

#register-page .register-card .card-header {
	display: flex;
	justify-content: center;
	height: 20%; }

#register-page .register-card .card-content {
	height: 80%;
}

#register-page .register-card .card-content form {
	width: 100%;
	height: 80%;
}

#register-page .register-card .card-content form *:not(input[type=submit]) {
	width: 100%;
	height: 4vmax;
	margin: 1vmin 0;
}

#register-page .register-card .card-content form input[type=submit] {
	width: 100%;
	height: 4vmax;
	margin: 2vmin 0;
}
