@import url('http://fonts.cdnfonts.com/css/fira-sans');

:root {
	--main-bg: #F5F5F5;
	--green: #8DB48E;
	--darkgreen: #4D724D;
	--link-color: #348427;
	--font-color: #2e602e;
}

/* Predefinições gerais */
* { box-sizing: border-box; }
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans';
	font-size: 14pt;
	background-color: var(--main-bg);
	color: var(--font-color);
	display: flex;
	flex-flow: column;
}

input {
	font-size: 14pt;
	border: 1px solid var(--darkgreen);
	border-radius: 3px;
}
.text-fields {
	background-color: var(--main-bg);
}
.button-light, .button-dark {
	transition: 0.3s;
}
.button-light {
	background-color: white;
	color: var(--darkgreen);
}
.button-light:hover {
	background-color: var(--green);
	color: white;
	border: 1px solid white;
}
.button-dark {
	background-color: var(--darkgreen);	
	color: white;
}
.button-dark:hover {
	background-color: white;
	color: var(--darkgreen);
}
.button-light:hover, .button-dark:hover {
	cursor: pointer;
}
.link-light, .link-dark {
	text-decoration: none;
	transition: 0.3s;
}
.link-dark {
	text-decoration: none;
	color: var(--link-color);
}
.link-light {
	color: white;
}
.link-light:hover {
	text-shadow: 2px 2px 2px darkgray, -2px -2px 2px darkgray;
}
.link-dark:hover {
	text-shadow: 2px 2px 2px lightgray, -2px -2px 2px lightgray;
}

/*******************/

/* Cabeçalho reutilizável */
#reusable-header {
	height: 10%;
	overflow: hidden;
	padding: 20px 10px;
	display: flex;
	justify-content: space-evenly;
	flex: 0 1 auto;
	background-color: var(--darkgreen);
	color: white;
	box-shadow: 0 2px 2px darkgray;
}

#reusable-header div {
	display: flex;
	align-items: center;
}

#reusable-header .logo-area {
	width: 20%;
}

#reusable-header .logo-area h1 {
	margin: 0;
}

#reusable-header .search-area {
	width: 60%;
	justify-content: center;
}

#reusable-header .search-area form {
	width: 90%;
	display: inline-flex;
}

#reusable-header .search-area input {
	height: 3vmax;
}

#reusable-header input[type=text] {
	width: 70%;
}

#reusable-header input[type=button], #reusable-header input[type=submit] {
	width: 30%;
}

#reusable-header .options-area {
	width: 20%;
	justify-content: right;
}

#reusable-header .options-area li {
	list-style-type: none;
	display: inline;
}

#reusable-header .options-area a {
	float: left;
	text-align: center;
	font-size: 16pt;
	padding: 0 10px;
	transition: 0.3s;
}


/*******************/

/* Contêiner principal */
.main-container {
	flex: 1 1 auto; /* Preenche todo o espaço restante */
	width: 100%;
	display: flex;
	justify-content: center;
}


/* Cartão de login */
#login-page .login-card {
	width: 50%;
	height: 80%;
	margin-top: 5%;
	display: flex;
	flex-flow: column;
	align-items: center;
	border: 1px solid var(--darkgreen);
	box-shadow: 2px 2px 2px lightgray, -2px -2px 2px lightgray;
}

#login-page .form-info {
	flex: 0 1 auto;
}

#login-page .form-container {
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightgray;
}

#login-page .form-container form {
	width: 70%;
	height: 90%;
}

#login-page .input-container {
	width: 100%;	
	height: 20%;
	margin: 3vmin 0;
}

#login-page .login-card .input-container input {
	width: 100%;	
	height: 90%;
}

#login-page .login-card input[type=submit] {
	width: 100%;
	height: 20%;
	margin-top: 2vmin;
}

#login-page .login-card .other-options {
	flex: 0 1 10%;
	display: flex;
	align-items: center;
}
